@font-face {
    font-family: future;
    src: url(Timeburner-xJB8.ttf);
}

@font-face {
    font-family: Face;
    src: url(StretchPro.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#nav{
    width: 100%;
    height: 7vh;
    background-color: #222222;
    color: white;
    padding: 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav i{
    /* position: absolute;
    right: 2%; */
    font-size: 2.5vh;
}

#Logo{
    font-family:Face ;
    font-size: 1.8vh;
    font-weight: 100;
}

#welcomepage .tabs{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.page{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    overflow-x: hidden;
    position: relative;
}

@keyframes infinitescroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#page1{
    background: rgb(24,0,36);
    background: linear-gradient(0deg, rgba(24,0,36,1) 0%, rgba(0,0,0,1) 69%, rgba(101,101,101,1) 100%);
}

.tabs{
    width: 70vw;
    height: 10vh;
    background-color:#C3F142;
    color: rgb(0, 0, 0);
    border-radius:25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: black;
}

.tabs:hover{
    background-color: black;
    transition: 0.2s;
    border: 2px #222222 solid ;
}


a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    /* font-stretch: 150%; */
    font-size: 2.4vh;
    font-weight: 500;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
    margin-top: 15%; 
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 5vh;
}

#footer{
    background-color: #C3F142;
    color: black;
    font-family: Face;
    position: absolute;
    bottom: 0%;
}

#footer h2{
    font-size: 4vh;
    white-space: nowrap;
    font-weight: 200;
    animation-name: infinitescroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#nav i{
    color: white;
}

